// Variables

$navbg: #4aaaa5
$h2color: #4aaaa5

$navfont: 'Georgia', Times, 'Times New Roman', serif
$bodyfont: 'Arial', 'Helvetica Neue', Helvetica, sans-serif


body
    background-image: url(../imgs/vintage-wallpaper.png)

.navtitle
    background-color: $navbg
    padding: 10px
    
/* About Me */
.aboutme
    font-family: $bodyfont
    border: 1px solid black
    min-height: 400px
    background-color: white
    margin-top: 30px
    margin-bottom: 5%
    h2
        color: $h2color
        padding: 20px
    img
        display: block
        height: auto
        width: 300px
        transform: rotate(90deg)
        margin-top: 30px
        padding: 10px

/* Portfolio */
.portfolio
    font-family: $bodyfont
    border: 1px solid black
    min-height: 400px
    background-color: white
    margin-top: 30px
    margin-bottom: 5%
    h2
        color: $h2color
        padding: 20px

/* Contact */
.contact
    font-family: $bodyfont
    border: 1px solid black
    min-height: 400px
    background-color: white
    margin-top: 30px
    margin-bottom: 5%
    h2
        color: $h2color
        padding: 20px

/* Footer */
footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    background-color: #666666
    color: white
    height: 2rem
    border-top: 8px solid #4aaaa5
    text-align: center